node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
/build
/public/build
.env
.dev.vars

# Local Netlify folder
.netlify
.wrangler
